.teamSection{
    > div{
        background: $hachureFond;
        transition-duration: 1s;
        position: relative;
    }
    .card:hover{
        transform: translateX(-100%);
    }
    .card::after{
        content: "";
        overflow: hidden;
        z-index: -1;
        
        position: absolute;
        top: -1px;
        left: 0;
        height: calc(100% - 10px);
        width: 0%;
        color:$white;
        padding:6px;
        transition-duration: 1s;
        transition-property: width;
    }
    .card:hover::after{
        background-color: $black;
        left:100%;
        width:calc(100% - 10px);
    }
    .margeRight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media Screen and (max-width:$portableSize){
            > p{display: none;}
        }
    }
}

#card1:hover::after{ 
    content: "Anne Dubon , Architecte de métier depuis 6 ans, Lorem ipsum dolor sit amet, consectetur adipiscing elit.";
}
#card2:hover::after{ 
    content: "Jean Lelouit , Architecte de métier depuis 6 ans, Lorem ipsum dolor sit amet, consectetur adipiscing elit.";
}
#card3:hover::after{ 
    content: "Martin Venfors , Commercial de métier depuis 6 ans, Lorem ipsum dolor sit amet, consectetur adipiscing elit.";
}